<div class="row">

  <div class="col-6">
    <div class="card">
      <div class="card-body">

        <app-grafico-dona [grafica]=graficos.grafico1></app-grafico-dona>

      </div>
    </div>
  </div>
  <div class="col-6">
      <div class="card">
        <div class="card-body">
  
          <app-grafico-dona [grafica]=graficos.grafico2></app-grafico-dona>
  
        </div>
      </div>
    </div>
  

  
</div>
<div class="row">

    <div class="col-6">
      <div class="card">
        <div class="card-body">
  
          <app-grafico-dona [grafica]=graficos.grafico3></app-grafico-dona>
  
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-body">
    
            <app-grafico-dona [grafica]=graficos.grafico4></app-grafico-dona>
    
          </div>
        </div>
      </div>
    
  
    
  </div>
